
<% if (massage !="") { %>
 

<div class="card massage-error" style="flex: 1; display: block;">
    <div class="card-body">
        <i class="fas fas fa-ban"></i>
       <%= massage %> 
    </div>
</div>

<% } %>